/* fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}
/* /end fonts */

/* accordion */
.accordion {
  width: 30%;
  margin: 0 auto;
}

.accordion__heading,
.accordion__body {
  width: 100%;
  padding: 1rem 2rem;
}

.accordion__heading {
  display: block;
  background-color: #555;
  cursor: pointer;
  border: none;
}

.accordion__body {
  background-color: #777;
  overflow: hidden;
}

.accordion-body-slide-enter-active,
.accordion-body-slide-leave-active {
  max-height: 100px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: 0.25s ease-in-out;
}

.accordion-body-slide-enter-from,
.accordion-body-slide-leave-to {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

/* /end accordion */
